## 성적이 낮은 순서로 학생 출력하기
6-11.py

In [3]:
nameAndPoint = []
studentNum = int(input())

for count in range(studentNum):
    nameAndPoint.append(input())

2
홍길동 95
이순신 77

In [11]:
def sortPoint(nameAndPoint):
    result = []
    for count in range(len(nameAndPoint)):
        data = nameAndPoint[count].split()
        result.append((data[1],data[0]))
    result.sort(key = lambda result:result[0])
    return result

In [12]:
print(sortPoint(nameAndPoint))

[('77', '이순신'), ('95', '홍길동')]